<!DOCTYPE html>
<html>
<head>
    @{
        var currentUser = Session["user"] as BetM8.Models.user;
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> BetM8 - Register </title>


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BetM8</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">@Html.ActionLink("Rooms", "", "", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Results", "", "", null, new { @class = "nav-link" })</li>
                @{
                    if (currentUser == null)
                    {
                        <li class="nav-item">@Html.ActionLink("Register", "", "", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Login", "ShowLoginView", "Home", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("My Profile", "", "", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("My Competitions", "", "", null, new { @class = "nav-link" })</li>
                        if (currentUser.isAdmin == 1)
                        {
                            <li class="nav-item">@Html.ActionLink("Ban Player", "", "", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Delete Room", "", "", null, new { @class = "nav-link" })</li>
                        }
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "users", null, new { @class = "nav-link" })</li>
                    }
                }

            </ul>
        </div>
    </nav>

    <br />

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Users", "Users", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">Copyright &copy; @DateTime.Now.Year Nikola Veljanovski, Nikola Kesic, Dimitrije Milenkovic, Jelena Ilic</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
