<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <%- include('../includes/feedback-messages.ejs') %>
        <h1>Name: <%= room.name %></h1>
        <form action="/leave-room" method="POST">
            <button type="submit">Leave room</button>
            <input type="hidden" name="roomId" value="<%= room.id %>" readonly>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>

        <% if (allGames) { %>
        <h1>All Games</h1>
        <% for (let game of allGames) { %>
        <h5><%= game.team1 %> VS <%= game.team2 %></h5>
        <% if (roomUser) { %>
        <form action="/make-prediction" method="POST">
            <input type="submit" name="button" value="1">
            <input type="submit" name="button" value="X">
            <input type="submit" name="button" value="2">
            <input type="hidden" name="roomId" value="<%= room.id %>">
            <input type="hidden" name="gameId" value="<%= game.id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <% } %>
        <hr>
        <% }} else { %>
        <h1>No games in this room</h1>
        <% } %>
        <h1>Leaderboard</h1>
        <% if (userRooms) { %>
        <% for (let i = 0; i < userRooms.length; i++) { %>
            <h4><%= i+1 %>. <%= leaderboardUsers[i].username %> (<%=userRooms[i].points%> points)</h4>
        <% } %>
        <% } else { %>
        <h4>No users in this room!</h4>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>