<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!-- <main>
        <%- include('../includes/feedback-messages.ejs') %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="user">Username</label>
                <input type="text" name="username" id="user">
            </div>
            <div class="form-control">
                <label for="pass">Password</label>
                <input type="password" name="password" id="pass">
            </div>

            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
    </main> -->

    
    <section class="bg-light" id="services">
            <%- include('../includes/feedback-messages.ejs') %>
        <div class="container">
            <form action="/login" method="POST">
                <hr>
                <h1 class="h1">Login</h1>
                <p>Please enter your username and password</p>
                <hr>
                <div class="form-group">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control" name="username" id="user">
                </div>

                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input type="password" class="form-control" name="password" id="pass">
                </div>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">Login</button>

                <hr>
            </form>
        </div>
    </section>

    <%- include('../includes/end.ejs') %>