<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <br/><br/><br/><br/>

    <!--<main>
        <%- include('../includes/feedback-messages.ejs') %>
        <form class="login-form" action="/change-password" method="POST">
            <div class="form-control">
                <label for="oldPassword">Old Password</label>
                <input type="password" name="oldPassword" id="oldPassword">
            </div>
            <div class="form-control">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
            <div class="form-control">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword">
            </div>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Submit change</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>  -->



      <div class="container">
		<%- include('../includes/feedback-messages.ejs') %>
		
		<div class = "row">
			<div class="col-lg-2 text-center">
			</div>
			<div class="col-lg-8 text-center">
				<h2> Change password </h2>
			</div>
			<div class="col-lg-2 text-center">
			</div>
		</div>
		
		<div class = "row">
			<div class="col-lg-12 text-center">
				<hr>
			</div>
		</div>
		
		<form action="/change-password" method="POST">
			<div class="container">
				<p>Please fill in this form to change your password.</p>
				<hr>
				<div class="form-group">
					<label for="oldPassword">Old password:</label>
					<input type="password" name="oldPassword" id="oldPassword" class="form-control">
				</div>
			
				<div class="form-group">
					<label for="newPassword">New password:</label>
					<input type="password" name="newPassword" id="newPassword" class="form-control">
				</div>
			
				<div class="form-group">
					<label for="repeatPassword">Repeat password:</label>
					<input type="password" name="repeatPassword" id="repeatPassword" class="form-control">
				</div>

				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="btn btn-primary" type="submit">Submit change</button>
			</div>
		</form>
	   </div>
	
	<%- include('../includes/end.ejs') %>